<a href="https://colab.research.google.com/github/18K41A0256/Assignment-1/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
year= int(input("Enter your year of birth to get zodiac sign \n"))
if year%12==0:
    print("monkey")
elif year%12==1:  
    print("Rooster")
elif year%12==2:
    print("Dog")
elif year%12==3:
    print("Pig")
elif year%12==4:
    print("Rat")
elif year%12==5:
    print("Ox")
elif year%12==6:
    print("Tiger")
elif year%12==7:
    print("Rabbit")
elif year%12==8:
    print("Dragon")
elif year%12==9:
    print("Snake")
elif year%12==10:
    print("Horse")
elif year%12==11:
    print("Sheep")

Enter your year of birth to get zodiac sign
28
Rat

In [ ]:
distance=int(input("Distance to be travel"))
weight=int(input("weight of the goods"))
if distance>=500:
   if weight>=100:
      amount=distance*5
   elif weight>=10:
      if weight<=100:
         amount=distance*6
   elif weight<10:
       amount=distance*7
elif distance<500:
       if weight>=100:
         amount=distance*8
elif weight<100:
       amount=distance*5
print("amount to be charged:{}/-".format(amount))

Distance to be travel500
weight of the goods50
amount to be charged:3000/-

In [ ]:
s=input('type seat :')
p=input('payment mode :')
if p=='cash':
  if s=='stalls':
    total=625
  elif s=='circle':
      total=750
  elif s=='upper class':
      total=850
  elif s=='bill':
      total=1000
  d=total-total*0.1
elif p=='credit':
  if s=='stalls':
       total=625
  elif s=='upper class':
     total=850
  elif s=='bill':
     total=1000
  d=total-total*0.05
print('amount payable',d)

type seat :stalls
payment mode :credit
amount payable 593.75

In [ ]:
m=int(input('enter water in kgs : '))
it=int(input('enter initial temperature in celsius :'))
ft=int(input('enter final temperature in celsius : '))
q=m*(ft-it)*4814
print(q,"KJ ENERGY IS USED")

enter water in kgs : 600
enter initial temperature in celsius :40
enter final temperature in celsius : 70
86652000 KJ ENERGY IS USED

In [ ]:
month=input('enter month : ')
if month=='december' or month=='january' or month=='february':
      print('winter')
elif month=='march' or month=='april' or month=='may':
      print('spring')
elif month=='june' or month=='july' or month=='august':
      print('summer')
elif month=='september' or month=='october' or month=='november':
      print('autumn')
else:
  print('check your spelling')

enter month : march
spring

In [ ]:
h=float(input('enter height in inches:'))
w=float(input('enter weight in pounds:'))
bmi=(w*703)/(h*2);
if bmi<18.5:
  print('your bmi is :',bmi)
  print('you are under weight')
elif bmi>18.5 and bmi<30:
  print('your bmi is :',bmi)
  print('you are normal weight')
elif bmi>25 and bmi<30:
  print('your bmi is :',bmi)
  print('you are over weight')
else:
  print('your bmi is :',bmi)
  print('you are obese')

enter height in inches:5.9
enter weight in pounds:75
your bmi is : 4468.22033898305
you are obese

In [ ]:
num=int(input('enter a number between 100 and 1000 :'))
sum=v=0
while(num>0):
  v=num%10
  sum=sum+v
  num=num/10
print(sum)

enter a number between 100 and 1000 :600
6.666666666666667

In [ ]:
maximum=int(input("enter the maximum value:"))
print("palindrome number between 1 and {}".format(maximum))
for num in range(1,maximum+1):
  temp=num
  reverse=0
  while temp>0:
    reminder=temp%10
    reverse=(reverse*10)+reminder
    temp=temp//10
    if num==reverse:
      print(num)

enter the maximum value:500
palindrome number between 1 and 500
1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494

In [ ]:
maximum=int(input("enter maximum number:"))
print("palindrome number between 1 and {}". format(maximum))
for num in range(1,maximum+1):
  s=0
  temp=num
  while temp>0:
    digit=temp%10
    s=s+digit**3
    temp=temp//10
    if num==s:
      print(num)

enter maximum number:500
palindrome number between 1 and 500
1
64
125
153
216
370
371
407

In [ ]:
maximum=int(input("enter maximum number:"))
for num in range(1, maximum+1):
   if num%3==0 and num%5==0:
      print("{}:Fizz buzz".format(num))
   elif num%5==0:
     print("{}:Buzz".format(num))
   elif num%3==0:
     print("{}:Fizz".format(num))

enter maximum number:100
3:Fizz
5:Buzz
6:Fizz
9:Fizz
10:Buzz
12:Fizz
15:Fizz buzz
18:Fizz
20:Buzz
21:Fizz
24:Fizz
25:Buzz
27:Fizz
30:Fizz buzz
33:Fizz
35:Buzz
36:Fizz
39:Fizz
40:Buzz
42:Fizz
45:Fizz buzz
48:Fizz
50:Buzz
51:Fizz
54:Fizz
55:Buzz
57:Fizz
60:Fizz buzz
63:Fizz
65:Buzz
66:Fizz
69:Fizz
70:Buzz
72:Fizz
75:Fizz buzz
78:Fizz
80:Buzz
81:Fizz
84:Fizz
85:Buzz
87:Fizz
90:Fizz buzz
93:Fizz
95:Buzz
96:Fizz
99:Fizz
100:Buzz

In [ ]:
h=int(input('enter height of well in meters :'))
u=int(input('enter height of spider climbed :'))
d=int(input('enter how deep the spider slipped :'))
step=0
while h>=u:
  step+=1
  h=h-(u-d)
  step+=1
  print('number of steps by spider required to get out of well are:{}'.format(step))

enter height of well in meters :5
enter height of spider climbed :4
enter how deep the spider slipped :3
number of steps by spider required to get out of well are:2
number of steps by spider required to get out of well are:4